[Unit]
Description=AraOS Service
After=network.target postgresql.service
Wants=postgresql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/araos/backend
Environment="PATH=/var/www/araos/backend/venv/bin"
ExecStart=/var/www/araos/backend/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:create_app()
Restart=on-failure
RestartSec=5s

# Security
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
