Flask>=2.0.0
Flask-JWT-Extended>=4.0.0
Flask-CORS>=3.0.0
Flask-SQLAlchemy>=3.0.0
Flask-Limiter>=3.0.0
SQLAlchemy
python-dotenv>=1.0.0
psycopg2-binary
Werkzeug # Flexibilizar Werkzeug
gunicorn
openai
crewai
crewai_tools
langchain # Adicionar langchain base, deixar pip escolher a versão
langchain-openai
langchain-groq
langchain-community
langchain-ollama # Adicionar para a nova importação de ChatOllama
groq
pandas>=2.0.0
mercadopago==2.2.1
PyPDF2==3.0.1
# As seguintes podem ser puxadas como dependências, mas se continuarmos com problemas,
# podemos tentar adicioná-las sem versão também:
# embedchain
# chromadb
# Adicione python-magic e pydub se for lidar com uploads de arquivos e manipulação de áudio diretamente no backend
# python-magic==0.4.27
# pydub==0.25.1
